@import '../../../styles/variables/variables'
@import '../../../styles/mixins/mixins'

.main__left
    width: 5rem
    margin-right: 5rem
    height: 85vh
    @include respond(tab-port)
        margin-right: 2rem
.main__right
    width: 105rem

.gameTypes
    display: flex
    justify-content: space-between
    margin-bottom: 2rem

.gameList
    display: flex
    flex-wrap: wrap
    gap: 2rem
    @include respond(phoneL)
        justify-content: center
